<html lang='en'>
<style>
.header img {
  float: left;
  width: 105px;
  height: 74px;
  top: 18px;
  left: 10px;
}

.header h1 {
  position: center;
  top: 18px;
  left: 10px;
}
</style>
  <center>
<div class="header">
  <a href="https://imgbb.com/"><img src="https://i.ibb.co/g78Dyz1/APSSlogo.png" alt="APSSlogo" border="0"></a>
  <h1>🌹 Classify Flower Images</h1>
  <p>
      Use images of <strong>Rose</strong>, <strong>Jasmine</strong>, <strong>Lilly</strong> , or
      all Four!
    </p>
  </center>
</div>
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>


<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='C:\Users\Hemanth\Desktop\Flower\style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
